select option.flag-icon {
    background-position: 2px 50%;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.flag-icon {
    background-size: contain;
    width: 24px;
    height: 16px;
}